{# ESTACIONES DATOS USUARIO #}

<div class="container" style="padding: 5px;padding-top: 30px; ">

    <!--TEXT INPUT USUARIO NOMBRE-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="usuario_nombre">Nombre del usuario</label>  
    <div class="col-md-4">
        <input id="usuario_nombre" name="usuario_nombre" placeholder="" class="form-control input-md" type="text" {% if estacion.usuario_nombre is defined %}value="{{ estacion.usuario_nombre }}"{% endif %}>
    <span class="help-block">Ingrese Nombre y Apellido del usuario</span>  
    </div>
    </div>
    <!--/.TEXTO INPUT USUARIO NOMBRE-->

    <!--TEXT INPUT USUARIO INDICADOR-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="usuario_indicador">Indicador del Usuario</label>  
    <div class="col-md-4">
        <input id="usuario_indicador" name="usuario_indicador" placeholder="" class="form-control input-md" type="text" {% if estacion.usuario_indicador is defined %}value="{{ estacion.usuario_indicador }}"{% endif %}>
    <span class="help-block">Indicador PDVSA</span>  
    </div>
    </div>
    <!--/.TEXT INPUT USUARIO INDICADOR-->

    <!--SELECT USUARIO EMPRESA-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_id_empresa">Empresa</label>  
        <div class="col-md-4">
            <select  id="usuario_id_empresa" name="usuario_id_empresa" placeholder="" class="form-control input-md">
                {% for empresa_registro in empresas %}
                <option {% if estacion.usuario_id_empresa == empresa_registro.id %} selected {%endif%} value="{{ empresa_registro.id }}">{{ empresa_registro.nombre }}</option>
                {% endfor %}
            </select>
        <span class="help-block">Empresa a la cual pertenece el usuario</span>  
        </div>
    </div>
    <!--/.SELECT USUARIO EMPRESA-->
    
    <!--/.SELECT USUARIO GERENCIA-->    
    <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_id_gerencia">Gerencia</label>  
        <div class="col-md-4">
            <select  id="usuario_id_gerencia" name="usuario_id_gerencia" placeholder="" class="form-control input-md">
                {% for gerencia_registro in gerencias %}
                <option value="{{ gerencia_registro.id }}">{{ gerencia_registro.nombre }}</option>
                {% endfor %}
            </select>
        <span class="help-block">Gerencia a la cual pertenece el usuario</span>  
        </div>
    </div>
    <!--/.SELECT USUARIO GERENCIA-->

    <!--SELECT USUARIO UBICACION-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_id_ubicacion">Ubicación</label>  
        <div class="col-md-4">
            <select  id="usuario_id_ubicacion" name="usuario_id_ubicacion" placeholder="" class="form-control input-md">
                {% for ubicacion_registro in ubicaciones %}
                <option value="{{ ubicacion_registro.id }}">{{ ubicacion_registro.nombre }}</option>
                {% endfor %}
            </select>
        <span class="help-block">Ubicacón del equipo</span>  
        </div>
    </div>
    <!--/.SELECT USUARIO UBICACION-->

 </div>
