{# ESTACIONES DATOS USUARIO #}

<div class="container" style="padding: 5px;padding-top: 30px; ">

    <!--TEXT INPUT USUARIO NOMBRE-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="usuario_nombre">Nombre del usuario</label>  
    <div class="col-md-4">
        <input id="usuario_nombre" name="usuario_nombre" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Ingrese Nombre y Apellido del usuario</span>  
    </div>
    </div>
    <!--/.TEXTO INPUT USUARIO NOMBRE-->

    <!--TEXT INPUT USUARIO INDICADOR-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="usuario_indicador">Indicador del Usuario</label>  
    <div class="col-md-4">
        <input id="usuario_indicador" name="usuario_indicador" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Indicador PDVSA</span>  
    </div>
    </div>
    <!--/.TEXT INPUT USUARIO INDICADOR-->

    <!--SELECT USUARIO EMPRESA-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_empresa">Empresa</label>  
        <div class="col-md-4">
            <select  id="usario_empresa" name="usuario_empresa" placeholder="" class="form-control input-md">
                {% for usuario_empresa_registro in empresas %}
                <option value="{{ usuario_empresa_registro.id }}">{{ usuario_empresa_registro.nombre }}</option>
                {% endfor %}
            </select>
        <span class="help-block">Empresa a la cual pertenece el usuario</span>  
        </div>
    </div>
    <!--/.SELECT USUARIO EMPRESA-->
    
    <!--/.SELECT USUARIO GERENCIA-->    
    <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_gerencia">Gerencia</label>  
        <div class="col-md-4">
            <select  id="usario_gerencia" name="usuario_gerencia" placeholder="" class="form-control input-md">
                {% for usuario_gerencia_registro in gerencias %}
                <option value="{{ usuario_gerencia_registro.id }}">{{ usuario_gerencia_registro.nombre }}</option>
                {% endfor %}
            </select>
        <span class="help-block">Gerencia a la cual pertenece el usuario</span>  
        </div>
    </div>
    <!--/.SELECT USUARIO GERENCIA-->

    <!--SELECT USUARIO UBICACION-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_ubicacion">Ubicación</label>  
        <div class="col-md-4">
            <select  id="usario_ubicacion" name="usuario_ubicacion" placeholder="" class="form-control input-md">
                {% for usuario_ubicacion_registro in ubicaciones %}
                <option value="{{ usuario_ubicacion_registro.id }}">{{ usuario_ubicacion_registro.nombre }}</option>
                {% endfor %}
            </select>
        <span class="help-block">Ubicacón del equipo</span>  
        </div>
    </div>
    <!--/.SELECT USUARIO UBICACION-->

 </div>
