<!DOCTYPE html>
<html>
<head>
<title>{% block title '' %} - InvenatrioET Beta 0.1</title>

<link   href="{{ app.request.basepath }}/css/bootstrap.cirulean.min.css" rel="stylesheet" media="screen">
<link   href="{{ app.request.basepath }}/css/menu-multinivel.css" rel="stylesheet" media="screen">
<script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/js/mensaje_borrado.js"></script>
        
</head>
<body>

<div class="container" style="padding:250px;padding-top: 70px;"> 

<!-- PANEL PRINCIPAL -->
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Acceso a la aplicación</h3>
</div>
<div class="panel-body">

<!-- REJILLAS -->
<div class="row">

<!-- REJILLA  IZQUIERDA-->
<div class="col-xs-6" style="padding-left:50px;"  >
    <img class="img-responsive" src="{{ app.request.basepath }}/img/images5.jpeg" alt="" >
</div>
<!-- /.REJILLA  IZQUIERDA-->

<!-- REJILLA DERECHA -->
<div class="col-xs-6" style="padding-right:50px;padding-top: 40px;" >

<!-- FORMULARIO LOGIN -->
<form class="form-horizontal"  role="form">
<fieldset>

    <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control" id="login-usuario" type="text"  name="login-usuario" placeholder="Usuario">
    </div>
    </div>

    <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control" id="login-password" type="password"  name="password" placeholder="Clave">
    </div>
    </div>

    <div class="form-group">
    <div class="input-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>

<fieldset>
</form>
<!-- /.FORMULARIO LOGIN -->
</div>
<!-- REJILLA DERECHA -->

<!-- /.REJILLAS -->
</div>

</div>
    <div class="panel-footer">
        <p class="text-center text-muted">Sistema de control de Inventario de Estaciones de Trabajo Ver. beta 0.1</p>
    </div>
</div>
<!-- /.PANEL PRINCIPAL -->


</div>


</body>
</html>


    
