{# UBICACIÓN LISTADO#}

{% extends "layout.twig" %}

{% block contenido %}

<legend>Listado de las Ubicaciones</legend>

{% include 'mensaje_alerta.twig' %}

<a class="btn btn-primary" href=" {{ path('ubicacionNuevo') }}">Crea nueva Ubicación</a><br /><br />

<table class="table table-striped table-hover "> 
<thead>
    <tr>
        <th>Item</th>
        <th>Nombre de Ubicación</th>
        <th>Acción</th>
    </tr>
</thead>
<tbody>
     
{% for registro in ubicacions %}
    
<tr>
    <td>{{ loop.index + (5 * pagina) }}</td>
    <td>{{ registro.nombre }}</td>
    <td>	
        <a href="{{ app.url_generator.generate('ubicacionBuscar', {'id': registro.id}) }}">
        <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-edit"></span>Modificar</button>
        </a>
        <a href="{{ app.url_generator.generate('ubicacionEliminar', {'id': registro.id}) }}" onclick="return confirm_delete();"> 
        <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-trash"></span>Eliminar</button>
        </a>
    </td>
</tr>

{% endfor %}

</tbody>
</table>

<p class="text-right">Total de Ubicaciones: {{numeroRegistro}}</p>

{% if numeroPaginas > 0 %}
    {% include 'ubicacion/ubicacion_listado_paginador.twig' %}
{% endif %}

{% endblock %}
