{# MARCA DATOS #}

{% extends "layout.twig" %}

{% block contenido %}

<!--NOMBRE DEL FORMULARIO-->
<legend>Datos de la Gerencia</legend>
<!--/.NOMBRE DEL FORMULARIO-->

<!--FORMULARIO DATOS-->

{% if editar == TRUE  %}  
    <form class="form-horizontal" role="form" action="{{ app.url_generator.generate('marcaActualizar') }}" method="post">
    <input type="hidden" name="id" id="id" value="{{ marca.id }}" />
{% else %}
    <form class="form-horizontal" role="form" action="{{ app.url_generator.generate('marcaGuardar') }}" method="post">
{% endif%}

<fieldset>

    {% include 'mensaje_alerta.twig' %}
    
    <!--TEXT INPUT NOMBRE-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="nombre">Nombre de la Gerencia</label>  
        <div class="col-md-4">
            <input required id="nombre" name="nombre"  placeholder="Campo obligatorio" class="form-control input-md text-uppercase" type="text" {% if editar == TRUE  %}disabled="" value="{{ marca.nombre }}"{% endif %}>
        <span class="help-block">Ingrese el Nombre de la marca a registrar</span>  
        </div>
    </div>
    <!--/.TEXTO INPUT NOMBRE-->

    <!--TEXTAREA OBSERVACIONES-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="observacion">Observacion</label>
        <div class="col-md-4">                     
        <textarea class="form-control" id="observacion" name="observacion" >{% if marca.observacion is defined %}{{ marca.observacion }}{% endif %}</textarea>
        </div>
    </div>
    <!--/.TEXTAREA OBSERVACIONES-->

    <!--BUTON-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="enviar"></label>
        <div class="col-md-4">
            <button  class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <!--/.BUTON-->

</fieldset>
</form>
        
<!--./FORMULARIO DATOS-->
      
{% endblock %}

