{% extends "layout.twig" %}

{% block contenido %}

<!--FORMULARIO EMPRESA DATOS-->
{% if empresa.id is defined %}
<form class="form-horizontal" role="form" action="{{ app.url_generator.generate('empresaActualizar') }}" method="post">
    <input type="hidden" name="id" id="id" value="{{ empresa.id }}" />
{% else %}
    <form class="form-horizontal" role="form" action="{{ app.url_generator.generate('empresaGuardar') }}" method="post">
{% endif%}
<fieldset>

    <!--NOMBRE DEL FORMULARIO-->
    <legend>Datos de la Empresa</legend>
    <!--/.NOMBRE DEL FORMULARIO-->

    {% include 'mensajes.twig' %}
    
    <!--TEXT INPUT NOMBRE-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="nombre">Nombre de la Empresa</label>  
        <div class="col-md-4">
        <input id="nombre" name="nombre" placeholder="Campo obligatorio" class="form-control input-md" type="text" value="{% if empresa.nombre is defined %}{{ empresa.nombre }}{% endif %}">
        <span class="help-block">Ingrese el Nombre de la empresa a registrar</span>  
        </div>
    </div>
    <!--/.TEXTO INPUT NOMBRE-->

    <!--TEXTAREA OBSERVACIONES-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="observacion">Observacion</label>
        <div class="col-md-4">                     
        <textarea class="form-control" id="observacion" name="observacion" >{% if empresa.observacion is defined %}{{ empresa.observacion }}{% endif %}</textarea>
        </div>
    </div>
    <!--./TEXTAREA OBSERVACIONES-->

    <!--BUTON-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="enviar"></label>
        <div class="col-md-4">
            <button  class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <!--/.BUTON-->

</fieldset>
</form>
<!--./FORMULARIO EMPRESA DATOS-->

{% endblock %}

