<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - InvenatrioET Beta 0.1</title>

<link href="{{ app.request.basepath }}/css/bootstrap.cirulean.min.css" rel="stylesheet" media="screen">
<link href="{{ app.request.basepath }}/css/menu-multinivel.css" rel="stylesheet" media="screen">
<script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/js/mensaje_borrado.js"></script>
<!--        
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script> -->
        
    </head>
    <body>
    
        <div class="container" style="padding: 5px;padding-top: 70px; ">
        
        {% include 'barra_navegacion.twig' %}
        
        {% block contenido %}{% endblock %}
        
        </div>
        
    </body>
</html>

